body {
    background-color: #ffffff;
}

#editor {
  width: 43%;
  height: 80%;
  border-radius: 3px;
  position: absolute;
}

#output {
  width: 43%;
  height: 43%;
  border-radius: 3px;
  position: absolute;
  right: 0;
}

.codeflask .token.address {
    color: blue;
}

.codeflask .token.label {
    color: red;
}

.codeflask .token.builtin {
    color: purple;
}

.codeflask .token.comment {
    color: grey;
}

.codeflask .token.operator {
    color: red;
}

.codeflask .token.number {
    color: blue;
}
