body {
    background-color: #ffffff;
}

#editor {
  width: 43%;
  height: 80%;
  border-radius: 3px;
  position: absolute;
}

#output {
  width: 43%;
  height: 43%;
  border-radius: 3px;
  position: absolute;
  right: 0;
}

.codeflask .token.address {
    color: blue;
}

.codeflask .token.label {
    color: red;
}

.codeflask .token.builtin {
    color: purple;
}

.codeflask .token.comment {
    color: grey;
}

.codeflask .token.operator {
    color: red;
}

.codeflask .token.number {
    color: blue;
}

.container {
    display: flex;
}

.button {
    margin-right: 10px;
}

.box {
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    margin-right: 10px;
    text-align: center;
    line-height: 3;
  }