.container {
    display: flex;
    justify-content: space-around;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.right {
    width: 40%;
}

#editor {
  border-radius: 3px;
  flex: 1;
}

.outputcontainer {
    border-radius: 3px;
    border: 1px solid #000;
}

#output {
  border-radius: 3px;
  height: 20%;
}

#navigation {
  border-radius: 3px;
  align-self: flex-end;
}

.button {
    margin-right: 10px;
}

.box {
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    margin-right: 10px;
    text-align: center;
    line-height: 3;
}

.codeflask .token.address {
    color: blue;
}

.codeflask .token.label {
    color: red;
}

.codeflask .token.builtin {
    color: purple;
}

.codeflask .token.comment {
    color: grey;
}

.codeflask .token.operator {
    color: red;
}

.codeflask .token.number {
    color: blue;
}