main {
	max-width: 70ch;
	padding: 2ch;
	margin: auto;
}

#dynamicland {
	border: solid;
	width: 60ch;
	height: 30ch;
	font-size: 1rem;
}

.table {
	display: flex;
	justify-content: center;
}

.page {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10ch;
	height: 10ch;
	background: white;
	border: solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.page * {
	font-size: 0.5rem;
}
