@media (max-width: 900px) {
  main {
	max-width: 600px;
  }
  .img-crop img {
	max-width: 500px;
  }
}

h2 {
	text-align: center;
}

main {
	max-width: 800px;
	padding: 2ch;
	margin: auto;
}

.img-crop {
	height: 400px;
	overflow: hidden;
}

.img-crop img {
	max-width: 600px;
	padding: 2ch;
	margin: 0 auto;
	display: block;
	height: 900px;
	object-fit: cover;
	object-position: center;
	transform: translateY(-300px);
}

.img-crop2 {
	height: 400px;
	overflow: hidden;
}

.img-crop2 img {
	max-width: 600px;
	padding: 2ch;
	margin: 0 auto;
	display: block;
	height: 600px;
	object-fit: cover;
	object-position: center;
	transform: translateY(-100px);
}

.table {
	border: solid;
	width: 60vw;
	height: 20vh;
	font-size: 1rem;
	margin: auto;
}

.page {
	position: absolute;
	width: 8vh;
	height: 8vh;
	background: white;
	border: solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.page * {
	font-size: 2rem;
}

.pages {
	height: 10vh;
}

nav a {
	display: block;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.code {
	white-space: pre-wrap;
	background: rgba(0, 0, 0, .03);
}
