html {
	font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}

@media (max-width: 900px) {
  main {
	max-width: 600px;
  }
  .img-crop img {
	max-width: 500px;
  }
}

h2 {
	text-align: center;
}

main {
	max-width: 800px;
	padding: 2ch;
	margin: auto;
}

.img-crop {
	height: 400px;
	overflow: hidden;
}

.img-crop img {
	max-width: 600px;
	padding: 2ch;
	margin: 0 auto;
	display: block;
	height: 900px;
	object-fit: cover;
	object-position: center;
	transform: translateY(-300px);
}

.img-crop2 {
	height: 400px;
	overflow: hidden;
}

.img-crop2 img {
	max-width: 600px;
	padding: 2ch;
	margin: 0 auto;
	display: block;
	height: 600px;
	object-fit: cover;
	object-position: center;
	transform: translateY(-100px);
}

.table {
	border: solid;
	width: 60vw;
	height: 20vh;
	font-size: 1rem;
	margin: auto;
}

.page {
	position: absolute;
	width: 8vh;
	height: 8vh;
	background: white;
	border: solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.page content {
	font-size: 2rem;
}

.pages {
	height: 10vh;
}

nav a {
	display: block;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.whisker::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 2px;
	height: 50px;
	background: black;
	transform: translateX(-50%) translateY(-100%);
}

.code {
	font-family: Consolas,monaco,monospace;
	white-space: pre-wrap;
	background: rgba(0, 0, 0, .03);
}

.text-right {
	position: absolute;
	width: max-content;
	left: 0;
	top: 0;
	color: purple;
	transform: translateX(9vh);
}
